In [29]:
x=1
y=2

print("x:",x)
print("y:",y)


y=x
x=10

print("x:",x)
print("y:",y)

print("type :",type(x))

x +=2
print("x:",x)
x -=2
print("x:",x)
x *=2
print("x:",x)
x /=2
print("x:",x)

print("type :",type(x))

# not limited to integers
x = "any body there!!"
x *= 3
x += "I'm waiting at the door."

print(x)

print("type :",type(x))

x: 1
y: 2
x: 10
y: 1
type : <class 'int'>
x: 12
x: 10
x: 20
x: 10.0
type : <class 'float'>
any body there!!any body there!!any body there!!I'm waiting at the door.
type : <class 'str'>

In [12]:
# variable names

#we should use simple, lowercase variable names or underscores
account_num = 123
reply = "Opening the door wait!"

print(account_num)
print(reply)


# don't use this
accountNum = 123 #looks wierd
Reply ="Hi" # also look odd
x = "Welcome back" # x does not convey anything informative!!

123
Opening the door wait!

In [24]:
# Boolean 
a=1

print (a)
print(a==1)

a=2

print(a==1)

a= True  # True correspond to one and False is 0
print(a==1)

print("True + True:", True + True)
print("True + False:", True + False)
print("False + True:", False + True)
print("False + False:",False + False)

print("True * False", True * False)

1
True
False
True
True + True: 2
True + False: 1
False + True: 1
False + False: 0
True * False 0

In [39]:
# Converting floats to int

var1 = 2
print("var1 :", var1)
var1 = float(2)
print("var1 :", var1)

var1 = int(var1)
print("var1 :", var1)

var2 = 2.5
print("var2 :", var2)
var2 = int(var2)
print("var2 :", var2)

var1 : 2
var1 : 2.0
var1 : 2
var2 : 2.5
var2 : 2

In [47]:
# Numerical Operation
print (11/2)
print(11//2)
print(-11/2)
print(11.0//2)

#power
print("2^5:",2 ** 5)

5.5
5
-5.5
5.0
2^5: 32

### Scope of variable

In [2]:

a = 0

def my_function():
    a = 3
    print(a)

my_function()

print(a)

3
0

In [3]:
a = 0

def my_function():
    global a
    a = 3
    print(a)

my_function()

print(a)

3
3

### Constant variable

In [4]:
# These variables are "constants" by convention:
NUMBER_OF_DAYS_IN_A_WEEK = 7