## Sets
Let's take an example of list, we can add same items, remove items using list

In [8]:
names = ['Wasiq','Ehtasham','Umer','Arslan']
names.append('Hammad')
names.append('Wasiq')
names

['Wasiq', 'Ehtasham', 'Umer', 'Arslan', 'Hammad', 'Wasiq']

sometimes we don't need same items. So here SETS come to our rescue, they contain 'unique' values without order

In [12]:
names = {'Wasiq','Ehtasham','Umer','Arslan'}
print(names)
type(names)

{'Ehtasham', 'Umer', 'Wasiq', 'Arslan'}

set

In [13]:
var = 'bubble'
print(type(var))
var = set(var)    # can convert iterable to set, by calling set() class
print(var)
print(type(var))

<class 'str'>
{'l', 'e', 'u', 'b'}
<class 'set'>

In [14]:
print(type({'x','y'}))
print(type({'x'}))
print(type({}))      # dictionary {}
print(type(set()))
print(type(set({})))

<class 'set'>
<class 'set'>
<class 'dict'>
<class 'set'>
<class 'set'>

### Sets Methods 
#### remove & add()

In [18]:
names = {'Wasiq','Ehtasham'}
names.add('Ali')
print("ADD: ")
print(names)

# ----------------------
print("Remove:")
names.remove('Wasiq')
print(names)

ADD:
{'Ehtasham', 'Wasiq', 'Ali'}
Remove:
{'Ehtasham', 'Ali'}

### Fun Stuff ahead

In [27]:
names1 = {'Wasiq','Ehtasham','Umer','Arslan'}
names2 = {'Wasiq','Ali'}

print("Intersection of sets:")
print(names1 & names2)

print("-"*30)

print("Union of sets:")
print(names1 | names2)

print("-"*30)

print("name1 OR names2, but not both: ")
print(names1 ^ names2)

print("-"*30)

print(" In names1, but not in names2: ")
print(names1-names2)

Intersection of sets:
{'Wasiq'}
------------------------------
Union of sets:
{'Ali', 'Arslan', 'Ehtasham', 'Umer', 'Wasiq'}
------------------------------
name1 OR names2, but not both:
{'Arslan', 'Ehtasham', 'Ali', 'Umer'}
------------------------------
 In names1, but not in names2:
{'Ehtasham', 'Umer', 'Arslan'}